<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MathLibServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52151/MathLibService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MathLibServiceSoap"
        contract="MathLibService.MathLibServiceSoap" name="MathLibServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>